<div class="profile_card">
  <div class="card_header">
    <h2>Nome do musico</h2>
    <img src="" alt="Foto" />
  </div>
  <h3>Produtor musical e instrumentista</h3>
  <h4>Instrumentos</h4>
  <div class="instruments">
    <ul>
      <li>Violão</li>
      <li>Guitarra</li>
      <li>Bateria</li>
    </ul>
  </div>
  <h4>Meus Canais</h4>
  <div class="chanels">
    <ul>
      <li><i class='bx bxl-instagram' ></i> @meuinsta_77</li>
      <li><i class='bx bxl-youtube' ></i> kjwqbwdiq</li>
      <li><i class='bx bxl-spotify' ></i> //iwhdiwhdiwd</li>
    </ul>
  </div>
</div>
