:host{
  width: 100%;

  footer{
    height: 10vh;
    box-shadow: 0 2px 3px rgb(27, 27, 27);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(32, 32, 32);

    button{
      width: 33.333%;
      height: 10vh;
      border: none;
      background-color: transparent;
      box-shadow: 0 2px 3px rgb(29, 29, 29);
      font-size: 2.5rem;
      color: rgb(92, 92, 92);
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .btn_color{
      color: rgb(45, 229, 125) !important;
    }
  }
}
